body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: 'Montserrat', sans-serif;
	color: 000;
	font-size: 16px;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
}

.container {
	padding: 0;
	width: 1170px;
	margin: 0 auto;
}

.header {
	margin: 0;
	padding: 0;
	background:	url(../img/mir.png);
}

header a {
	color: #fff;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 1px 0 1px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}

.menu li a:hover {
	font-size: 20px;
	color: black;
	transition: 1s;

}

.menu li {
	margin-right: 32px;
}

.nav {
	display: flex;
	align-items: center;
	padding-top: 50px;
	letter-spacing: 0.1em;
}

.account {
	margin-left: auto;
	align-items: center;
	flex-wrap: wrap;
}

.username {
	color: white;
	margin-left: 120px;
}

.logout {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin-left: 120px;
}

.logout:hover {
	font-size: 20px;
	color: black;
	transition: 1s;;
}

.git {
	text-decoration: none;
	text-transform: uppercase;
}

.git:hover {
	font-size: 20px;
	color: black;
	transition: 1s;
}

.logo {
	margin-right: 96px;
}

.offer {
	margin-top: 70px;
	display: flex;
	text-shadow: 1px 0 1px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}

.button {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 17px;
	display: block;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.2em;
	padding: 17px 27px;
	border: 1px solid #fff;
	width: 400px;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(90.78deg, #320071 12.33%, #00F0FF 70.97%, #741776 87.89%);
	border-radius: 22px;
	text-shadow: 1px 0 1px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}
.button:hover {
	background: black;
}

.text h1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 59px;
	color: #FFFFFF;
}

.text p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	letter-spacing: 0.1em;
	line-height: 35px;
}

.paint {
	margin-left: 100px;
	margin-bottom: 75px;
	text-shadow: 1px 0 1px #fff, 
	0 1px 1px #fff, 
	-1px 0 1px #fff, 
	0 -1px 1px #fff;
}

.head h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
}

.head {
	padding-top: 25px;
	text-align: center;
}

.head img {
	padding-right: 10px;
}

.tatoo {
	padding-top: 90px;
}

.tatoo p {
	padding-top: 70px;
	font-size: 48px;
	text-align: center;
}

#png_id2 {
	padding-top: 70px;
}

.newsdiv {
	margin-top: 25px;
	height: 150px;
	width: 1170px;
	border-top: 1px solid #000; 
	border-bottom: 1px solid #000;
	position: relative;
}

.newsdiv:hover {
	background: grey;
	color: white;
	transition: 1.5s;
}

.bg {
	margin-top: 25px;
	width: 1170px;
	height: 53px;
	background: linear-gradient(90.11deg, #03FFD2 7.9%, #0702FC 78.65%);
	position: relative;
}

.trans {
	text-decoration: none;
	color: black;
}

.fotocard {
	position: absolute;
	width: 270px;
	height: 150px;
}

.title {
	position: absolute;
	left: 300px;
	padding-top: 5px;
	font-size: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
}

.field {
	position: absolute;
	left: 300px;
	padding-top: 50px;
}

.allnews {
	text-align: center;
	margin-top: 40px;
}

.allnews a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 28px;
	border-top: 1px solid #000; 
	border-bottom: 1px solid #000; 
	padding: 5px;
}

.allnews a:hover {
	color: #6752F4;
	transition: 0.25s;
}

.footer {
	height: 102px;
	background: linear-gradient(180deg, #FFFFFF 0%, #230BB3 80.73%);
	text-align: center;
	padding-top: 50px;
}